.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.createEmployee {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
}

.date_picker {
    display: flex;
    flex-direction: column;
}

.adress {
    display: flex;
    flex-direction: column;
    align-items: center;
}